section {
    height: 100vh;
    padding: 2rem;
}

.btn-primary {
    background-color: #2651be;
    border-color: #244cb3;
}

.btn-primary:hover {
    background-color: #2955c8;
    border-color: #2651be;
}

small {
    color: #d34343;
    font-weight: 500;
    display: none;
}

small strong {
    color: #000;
}

p {
    font-size: 13px;
}